<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Elite</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Allow access to capture an image for your profile</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow access to upload profile image</string>
	<key>UIAppFonts</key>
	<array>
		<string>Proxima Nova Alt Bold.otf</string>
		<string>Proxima Nova Alt Condensed Bold.otf</string>
		<string>Proxima Nova Alt Extra Condensed Bold.otf</string>
		<string>Proxima Nova Bold.otf</string>
		<string>Proxima Nova Condensed Bold.otf</string>
		<string>Proxima Nova Extra Condensed Bold.otf</string>
		<string>Proxima Nova ScOsf Bold.otf</string>
		<string>Proxima Nova ScOsf Condensed Bold.otf</string>
		<string>Proxima Nova ScOsf Extra Condensed Bold.otf</string>
		<string>Proxima Nova Alt Condensed Light.otf</string>
		<string>Proxima Nova Alt Extra Condensed Light.otf</string>
		<string>Proxima Nova Alt Light.otf</string>
		<string>Proxima Nova Condensed Light.otf</string>
		<string>Proxima Nova Extra Condensed Light.otf</string>
		<string>Proxima Nova ScOsf Condensed Light.otf</string>
		<string>Proxima Nova ScOsf Extra Condensed Light.otf</string>
		<string>Proxima Nova ScOsf Light.otf</string>
		<string>Proxima Nova Alt Regular.otf</string>
		<string>ProximaNova-Regular.otf</string>
		<string>Proxima Nova Alt Condensed Thin.otf</string>
		<string>Proxima Nova Alt Extra Condensed Thin.otf</string>
		<string>Proxima Nova Alt Thin.otf</string>
		<string>Proxima Nova Condensed Thin.otf</string>
		<string>Proxima Nova Extra Condensed Thin.otf</string>
		<string>Proxima Nova ScOsf Condensed Thin.otf</string>
		<string>Proxima Nova ScOsf Extra Condensed Thin.otf</string>
		<string>Proxima Nova ScOsf Thin.otf</string>
		<string>Proxima Nova Thin.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>NewMember</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
